APP_LOGIN_PASSWORD=change-me
AUTH_COOKIE_SECRET=generate-a-long-random-secret
CONSTANT_CONTACT_CLIENT_ID=
CONSTANT_CONTACT_CLIENT_SECRET=
CONSTANT_CONTACT_REDIRECT_URI=http://localhost:3000/api/constant-contact/callback
CONSTANT_CONTACT_AUTH_BASE_URL=https://authz.constantcontact.com/oauth2/default/v1/authorize
CONSTANT_CONTACT_TOKEN_URL=https://authz.constantcontact.com/oauth2/default/v1/token
CONSTANT_CONTACT_API_BASE_URL=https://api.cc.email/v3
CONSTANT_CONTACT_REFRESH_TOKEN=
BOAT_FEED_URL=https://motomarinedigital.com/feeds/winnisquammarine-feed/WinboatsWebXMLAllRevA.xml
BOAT_IMAGE_BASE_URL=https://winnisquammarine.com/wp-content/uploads/2026/06
